@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	display: flex;
		display: -webkit-box;
		display: -ms-flexbox;	
	background-color: cadetblue;
	font-family: 'Roboto', sans-serif;
	width: 100vw;
	height: 100vh;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
	justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
	align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
	flex-direction: column;
	gap: 50px;
	text-transform: uppercase;
	font-weight: 900;
	color: #fff;
}
.error404 {
		font-size: 200px;		
	}

.notfound {
		font-size: 20px;
		letter-spacing: 1px;
	}

a {
		color: #fff;
		text-decoration: underline;
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 22px;
	}