@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

.doNotShow {display:none;}

body {
	background: url("../images/bgMainPage.jpg") no-repeat;
	background-size: 100% auto;
}

.header_top {
	display: flex;
	justify-content: flex-end;
	padding: 10px 5px 0 5px;
}

.welcome_message {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: space-around;
	width: calc(100vw - 100px);	
}

.welcome_message h1 {
	color: white;
	margin-left: 45px;
}

.language_change,
.buttons_home_back {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 45px;
}

.language_change .language-button,
.buttons_home_back a {
	border: none;
	background-color: rgba(255,255,255,0.9);
	width: 22px;
	height: 20px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header_line {
	min-height: 65px;
	background-color: rgba(255,255,255,0.9);
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.header_buttons{
	display: flex;
	gap: 30px;
	width: calc(100vw - 130px);
}

.header_buttons a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.7px;	
}

.header_buttons a:hover {
	color: chocolate; 
}

#booking_hidden_buttons{
	position: absolute;
	top: 115px;
	left: 10px;
	background-color: rgba(255,255,255,0.9);
	display:none;
}

#booking_hidden_buttons:target{
	display:block;
}

#confirmed_hidden_buttons{
	position: absolute;
	top: 115px;
	right: 10px;
	background-color: rgba(255,255,255,0.9);
	display:none;
}

#confirmed_hidden_buttons:target{
	display:block;
}

.logination_registration {
	display: flex;
	flex-direction:column;
	max-height: 45px;
	justify-content: space-between;
}

.logination_registration a {
	display: flex;
	width: 100px;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.logination_registration a:hover {
	color: chocolate; 
}


label {
	width: 120px;
	display: inline-block;
}

.table,
.wrapper {
	max-width: 80vw;
	margin: 50px auto 10px auto;
	max-height: 400px;
	overflow: auto;
	min-height: 65px;
	background-color: rgba(255,255,255,0.9);
	padding: 10px;
	font-family: 'Roboto', sans-serif;	
}



.sticky{
	position: sticky;	
}

table{
	width: 1050px;
	table-layout: auto;
	border: 0px;
	border-collapse: collapse;		
}

td{
	text-align: center;	
}

tr:nth-child(odd){
	background-color: #d1d1c4;	
}

tr{
	height: 2em;
}

#okno2{
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 15px;   
}

#okno2 .header_top, #okno2 .header_line{
	display: none;
}

#zatemnenie {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#zatemnenie:target {
	display: flex;
	justify-content: space-around;	
}

#zatemnenie2 {
	background: rgba(102, 102, 102, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#zatemnenie2:target {
	display: flex;
	justify-content: space-around;	
}

#zatemnenie3 {
	background: rgba(102, 102, 102, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#zatemnenie3:target {
	display: flex;
	justify-content: space-around;	
}
	
.close {
	display: inline-block;
	border: 1px solid #0000cc;
	color: #0000cc;
	padding: 0 12px;
	margin: 10px;
	text-decoration: none;
	background: #f2f2f2;
	font-size: 14pt;
	cursor:pointer;
}
      
.close:hover {
	background: #e6e6ff;
}

.user_photo{
	height: 50px;
	vertical-align: middle;	
}

table.user_list_table tr:not(:first-child){
	height: 54px;
}

.print{
	color: white;
	font-size: 100px;	
}

.bill{
	background-color: white;
	margin: 30px auto;
	width: 80vw;
	padding: 15px;
	font-size: 18px;
}

.bill h2{
	text-align: center;
}

.bill #dates{
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-bottom: 10px;
}

.bill table#bill_table{
	background-color: white;
	width: 100%;
	border: black;
}

.bill table#bill_table tr:nth-child(odd){
	background-color: white;
}

#total_in_bill{
	text-align: right;
	text-transform: uppercase;
	margin-top: 10px;	
}

#bill_button{
	display: flex;
	justify-content: center;
	gap: 50px;
	margin-top: 20px;	
}

#bill_button button{
	font-size: 20px;
	padding: 5px;
}


.wrapper {
	display: flex;
	gap: 30px;
	align-items: flex-start;
}

#photo_edit {
	width: 20%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#personal-photo {
	width: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);	
}

#button_edit-personal-info {	
	width: 100%;
	padding: 5px;	
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	background-color: #b7b7ab;
	letter-spacing: 2px;
	color: rgba(255,255,255,0.9);
}

#button_edit-personal-info:hover {
	text-shadow: 0 0 2px white;
}

#button_edit-personal-info:active {
	box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
	border-radius: 3px;
}

#personal-info {
	width: 55%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 18px;
}

#personal-info .flex-row {
	display: flex;	
	justify-content: space-between;	
}

#personal-info .flex-row span {
	flex-basis: 45%;
}

#personal-info .flex-row span:first-child {
	font-weight: 500;
}
.photo_button{
	position: relative;
}
.photo_button button{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 5;
}

#submit_hidden{
	display: none;
}
#user_info_submit{
	width: 100px;
	margin: 0 auto 10px auto;
}
#user_info_form{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}
.places_list_hidden_form{
	display:none;
}